<h4 *ngIf="!allowEdit">Not allowed to edit this server.</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
    <label for="name">Server Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="serverName">
  </div>
  <div class="form-group">
    <label for="status">Server Status</label>
    <select id="status" class="form-control" [(ngModel)]="serverStatus">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <button class="btn btn-primary"
        [disabled]="(server.name !== serverName || server.status !== serverStatus) ? false: true"
        (click)="onUpdateServer()">Update Server</button>
    </div>
  </div>
</div>